<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <title>SHIN ポートフォリオ</title>
</head>
<body>
    <div class="container">
        <!-- Top -->
        <div class="top_screen section">
            <a name="shin"></a>
            <div class="navbar">
                <div class="logo">
                    <a href="#shin">SHIN</a>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#shin">HOME</a>
                        </li>
                        <li>
                            <a href="#about">ABOUT</a>
                        </li>
                        <li>
                            <a href="#skill">SKILL</a>
                        </li>
                        <li>
                            <a href="#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top_image">
                <img src="../../Assets/topImage.jpg" alt="top_image">
            </div>
            <div class="titleLabel">
                <p id="title">PLUS ULTRA</p>
                <p id="label">さらに上へ</p>
            </div>
        </div>
        <!-- About -->
        <div class="about section">
            <a name="about"></a>
            <div class="null"></div>
            <div class="content">
                <div class="title">
                    <p>ABOUT</p>
                </div>
                <div class="image">
                    <img src="../../Assets/shin.jpg" alt="myImage">
                </div>
                <div class="name">
                    <p>SHIN MATSUMARU</p>
                </div>
                <div class="text">
                    <p>専門学生iosエンジニア</p>
                    <p>iosアプリ開発系インターンシップを2社経験し、</p>
                    <p>その経験を生かし、現在個人アプリ開発中</p>
                </div>
            </div>
        </div>
        <!-- SKILL -->
        <div class="skill section">
            <div class="null"></div>
            <a name="skill"></a>
            <div class="content">
                <div class="title">
                    <p>SKILL</p>
                </div>
                <div class="grid">
                    <div class="box">
                        <img src="../../Assets/swift.png" alt="swift">
                        <p>Swift</p>
                    </div>
                    <div class="box">
                        <img src="../../Assets/firebase.png" alt="firebase">
                        <p>Firebase</p>
                    </div>
                    <div class="box">
                        <img src="../../Assets/python.png" alt="python">
                        <p>Python</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="box">
                        <img src="../../Assets/html.png" alt="html">
                        <p>HTML5</p>
                    </div>
                    <div class="box">
                        <img src="../../Assets/css.png" alt="css">
                        <p>CSS3</p>
                    </div>
                    <div class="box">
                        <img src="../../Assets/javascript.png" alt="javascript">
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT -->
        <div class="contact section">
            <div class="null"></div>
            <a name="contact"></a>
            <div class="content">
                <div class="title">
                    <p>CONTACT</p>
                </div>
                <div class="form">
                    <div class="text">
                        <p>お仕事のご依頼、ご相談はお気軽にDMまでご連絡ください。</p>
                    </div>
                    <div class="twitter">
                        <a href="https://twitter.com/shin201007m">
                            <i class="fab fa-twitter"></i>
                            twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>