@charset "utf-8";

body {
    margin: 0px;
    background: black;
}

.container {
    width: 100%;
}

/* nav */
.navbar {
    margin-top: 5px;
    height: 30px;
    width: 100vw;
    /* position: fixed; */
}

.navbar .logo,
.navbar .menu {
    display: inline-block;
}

.logo {
    float: left;
    margin-left: 20px;
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Permanent Marker', cursive;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
}

.menu {
    float: right;
    margin-right: 20px;
    display: none;
}
.menu li {
    display: inline-block;
    font-size: 12px;
    /* margin-left: 20px;  */
    display: none;
}
.menu a {
    text-decoration: none;
    color: white;
    line-height: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

/* top */
.top_screen {
    z-index: 1;
    position: relative;
}

.top_image img{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat; 
    margin: 0px;
}
.titleLabel {
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 160px;
    left: 13%;
    margin: 0px;
}

.titleLabel #title{
    margin: 0px;
    color: white;
    letter-spacing: 13px;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
}
.titleLabel #label{
    margin: 0px;
    color: white;
    letter-spacing: 20px;
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
}

/* null */
.null {
    height: 0px;
 }

/* about */
.about {
    width: 100vw;
    position: relative;
}

.about .content {
    margin-top: 5px; 
    margin-left: 5vw;
    /* border: 1px solid white;
    border-radius: 10px; */
}

.about .title {
    margin: 0px;
}
.about .title p {
    height: 0px;
    color: white;
    font-size: 30px;
    text-align: left;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
    font-family: 'Permanent Marker', cursive;
}
.about .name {
    margin-top: 70px;
}
.about .name p {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
}
.about .text {
    margin-top: 20px;
    margin-left: 10px; 
}
.about .text p {
    color: white;
    font-size: 15px;
    text-align: left;
    font-family: 'Noto Serif JP', serif;
}

.about .image {
    top: 5px;
    right: 40px;
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0))
}
.about .image img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* skill */
.skill {
    width: 100vw;
}
.skill .content {
    margin-top: 5px; 
    margin-left: 5vw;
}
.skill .title {
    margin: 0px;
}
.skill .title p {
    width: 300px;
    color: white;
    font-size: 30px;
    text-align: left;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
    font-family: 'Permanent Marker', cursive;
}

.skill .snap {
    scroll-snap-type: x mandatory;
    overflow:auto;
    display:flex;
    width: 210px;
    height: 250px;
}

.skill .grid {
    margin-left: 65px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.skill .box {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    scroll-snap-align: start;/* scroll-snap */
    border: 2px solid white;
    display: inline-block;
    border-radius: 100px;
}

.skill .box p {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.skill .box img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
}

/* contact */
.contact {
    width: 100vw;
}
.contact .content {
    margin-top: 5px; 
    margin-left: 5vw;
}

.contact .title {
    margin: 0px;
}
.contact .title p {
    width: 300px;
    color: white;
    font-size: 40px;
    text-align: left;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,1.0));
    font-family: 'Permanent Marker', cursive;
}
.contact .form {
}
.contact .text p {
    margin-right: 5vw;
    color: white;
    text-align: left;
    font-family: 'Noto Serif JP', serif;
}

.content .twitter {
    background: #55acee;
    width: 120px;
    padding: 7px 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.contact .twitter .fab {
    margin-right: 5px; 
}

.contact .twitter a {
    color: white;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}